:root {
  --darkRed: #961515;
  --darkGray: #232528;
  --mainWhite: #f3f3f3;
  --mainDark: #060607;
  --mainBlue: #0047ba;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--darkGray);
}
